

<div class="container  " style="height: 100vh !important;">
    
    <button class="btn btn-primary my-3 " routerLink="/home"><img src="assets/svg/back.svg" alt=""> atras</button>
    <div class="row">
        <div class="col-12 col-md-6 mb-5 ">
            <app-form
            (dataPass)="setData($event)"
            [titleButton]="titleButton"
            ></app-form>
        </div>
        <div class="col-12 col-md-6 ">
            <ul class="" style="padding: 0px 0px 0px 0px ;">
                <div class="row">
                    <div class="col-12 col-xl-7">
                        <app-filter
                        [data]="bill"
                        (dataFiltrada)="getFilter($event)">
                        </app-filter>
                    </div>
                    <div class="col-12 col-xl-5">
                        <form>
                            <div class="mb-4 p-4">
                                <label class="text-white mt-2 mb-3">Total</label>
                                <div class="text-danger  fw-normal" >
                                    {{ total  | currency:"RD$, DOP "}}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            <div class=" overflow-auto" style="height: 700px !important;">            
                <li class="bg-dark-custom  rounded mb-2 "  *ngFor="let data of dataFilter let i = index">
                    <div class="p-4">
                        <div class="d-flex  justify-content-between">
                        <span class="text-white d-block mt-2 fw-bolder">No. {{ i+1}}</span>
                            <div>
                                <button class=" btn btn-danger float-end d-block " (click)="deleteData(data)"><img src="assets/svg/trash.svg" alt=""></button>
                            </div>
                        </div>
                            <span class="text-white d-block mt-2 fw-bolder " >Gasto:  <span class="text-danger ms-2 fw-normal">{{data.monto  | currency:"RD$, DOP "}} </span></span>
                            <span class="text-white d-block fw-bolder mb-1">Fecha: <span class="ms-2 fw-normal">{{data.fecha}}</span> </span>
                            <span class="text-white  fw-bolder ">Descripcion: <span class="ms-2 fw-normal">{{data.descripcion}}</span></span>
                    </div>
                </li>
            </div>
                <!-- <app-paginador
                [data]="bill"
                (dataPaginada)="getDataPaginada($event)"
                ></app-paginador>  -->
            </ul>
            <ngx-spinner
            bdColor="rgba(51,51,51,0.8)"
            size="medium"
            color="#fff"
            type="ball-scale-multiple"
            ></ngx-spinner>
        </div>
    </div>
</div>
    