/* You can add global styles to this file, and also import other style files */

*{
    font-family: 'Poppins', sans-serif;
}


body{
    background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%) ;
    background-attachment: fixed;
}

li{
    list-style: none;
 
}



form{
    background-color: #191c29 !important;
    border-radius: .5rem !important;
}

.btn-primary{
    background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%) ;
    border: 0;
}

.btn-primary:hover{
    background-image: linear-gradient(-20deg, #aa03f8 0%, #03ccf9 100%) ;
}

.bg-dark-custom{
    background-color: #191c29 !important;
}

.form-control {
    color: #fafafb;
    background-color: #25293a !important;
    background-clip: padding-box;
    border: 0px solid #25293a;

}

textarea{
    color: white !important;
}
input{
    color: white !important;
}

::-webkit-scrollbar {
    width: 0.5em !important;
    height: 0.5em !important;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #2c1f1f;
    border-radius: 20px;
}



/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #181111;
}

