


.main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    position: relative;
    display: flex;
    height: 20rem;
    width: 20rem;
    background-color: #191c29;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: center;
    border: 0px solid rgb(88 199 250);
    overflow: hidden;
    transition: .6s;
    box-shadow: 0px 0px 100px rgba(88, 199, 250, .15);
    -webkit-box-shadow: 4px 4px 50px 16px rgba(0,0,0,0.5); 
    box-shadow: 4px 4px 50px 16px rgba(0,0,0,0.5);

}

.text1 {
    position: relative;
    font-size: 33px;
    font-family: roboto;
    color: rgb(88 199 250);
    font-weight: 100;
    letter-spacing: 1px;
    transition: .7s;
    transform: translateY(110px);
}
.text{
    position: relative;
    font-size: 33px;
    font-family: roboto;
    color: rgb(88 199 250);
    font-weight: 100;
    letter-spacing: 1px;
    transition: .7s;
    transform: translateY(100px);
}

.card:hover .text1 {
    transform: translateY(-150px);
    opacity: 0;
}
.card:hover .text {
    transform: translateY(-150px);
    opacity: 0
}

.text2 {
    color: #dbf9ff;
    font-family: roboto;
    font-weight: 100;
    font-size: 14px;
    width: 170px;
    line-height: 25px;
    transform: translateY(200px);
    transition: .7s;
    opacity: 0
    
}



h2 {
    font-size: 38px;
    font-family: roboto;
    color: rgb(88 199 250);
    font-weight: 400;
    margin: 0;
    padding: 0;
    transform: translateY(200px);
    opacity: 1;
    transition: .6s;
    opacity: 0
}

button {
    transform: translatey(200px);
    transition: .88s;
    opacity: 0;
    width: 110px;
    height: 38px;
    border-radius: 40px;
    font-size: 12px;
    font-family: roboto;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    color: white;
    background-color: #0beef9;
    background-image: linear-gradient(315deg, #0beef9 0%, #48a9fe 74%);
    border: none;
    cursor: pointer
}

.card:hover .hover {
    display: block;
}

.card:hover h2 {
    transform: translatey(-38px);
    opacity: 1
}

.card:hover .text2 {
    transform: translatey(-20px);
    opacity: 1
}

.card:hover button {
    transform: translatey(5px);
    opacity: 1
}

.card:hover {
    transform: scale(110%);
    box-shadow: 0px 0px 100px rgb(88 199 250);
}

button:active {
    color: #0beef9
}



@media (max-width: 600px){
    .card{
        height: 13rem;
        width: 13rem;
    }
    .container-custom{
        width: 100%;
        padding: 0 !important;
        gap: 0 !important;
        justify-content: space-around !important;
    }

    .text2{
        display: none;
    }

    .text1 {
      
        transform: translateY(50px);

    }

    .text{
        font-size: 1rem;
        transform: translateY(50px);

    }
    .card:hover .text1 {
        transform: translateY(-10px);
        opacity: 0;
    }
    .card:hover .text {
        transform: translateY(-10px);
        opacity: 0
    }
    
    .separator{
        display: none;
    }
    .las{
        font-size: 4rem !important;
    }
}
/*@keyframes scale
{
0%{transform:scale(100%) translateY(100px)}
50%{transform:scale(103%) translateY(100px)}
100%{transform:scale(100%) translateY(100px)}
}
*/