<div class="container p-5 d-flex justify-content-center  " style="height: 100vh ;" >
    <div class=" container-card d-flex flex-wrap justify-content-around gap-3 w-100 ">
        <div class="main"  data-aos="fade-up"
        data-aos-duration="700">
            <div class="card">
             <div class="text1">
                <span class="h4">GASTO</span>
             </div>
          <div class="hover">
           <h2><i class="las la-money-bill-wave d-block" style="font-size: 5rem;"></i> </h2>
          <div class="text2">Ingresa tus Gastos, de esta manera es más fácil seguir el rastro de a dónde se fue tu dinero.</div>
             <button routerLink="/bill">+Gastos</button>
          </div>
            </div>
        </div>
        <div class="main"  data-aos="fade-up"
        data-aos-duration="1200">
            <div class="card">
             <div class="text1">
                    <span class="h4">INGRESO</span>
             </div>
          <div class="hover">
           <h2> <i class="las la-donate d-block" style="font-size: 5rem;"></i></h2>
          <div class="text2">Tener un seguimiento de tus ingresos te ayudará a validar cuanto dinero estás recibiendo.</div>
             <button routerLink="/income">+Ingresos</button>
          </div>
            </div>
        </div>
        <div class="main"  data-aos="fade-up"
        data-aos-duration="1700">
            <div class="card">
             <div class="text">
                <span class="h4">GASTOS <span class="separator">|</span> INGRESOS</span></div>
          <div class="hover">
           <h2><i class="las la-dollar-sign d-block" style="font-size: 5rem;"></i> </h2>
          <div class="text2 w-100 px-5">Lista de todos los gastos e ingresos en conjunto para una mayor visualización de tus finanzas.</div>
             <button routerLink="/bill-income">Ver</button>
          </div>
            </div>
        </div>
    </div>
</div>

